/* line 1, ../../scss/home.scss */
.container {
  font-size: 14px;
}
/* line 4, ../../scss/home.scss */
.container li {
  color: red;
}
/* line 6, ../../scss/home.scss */
.container li span {
  margin-left: 5px;
}

/* line 12, ../../scss/home.scss */
.menu {
  font-size: 16px;
  margin-left: 22px;
}

/* line 20, ../../scss/home.scss */
.col-md-4 h2 {
  background-color: #ccc;
}
